@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

label > input{ /* HIDE RADIO */
	display:none;
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

.basic-panel{
	padding: 0px;
}

.ldap-panel{
	padding: 0px;
	float: right;	
}

.field-container{

	padding: 10px;
}

.forgot-password{
	text-align: center;
}